extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Kevin Madden

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | I'm a full-stack JavasScript developer, proficient in JavasScript, jQuery, Node.js, Express, HTML5, and CSS3.
            | This site will show you some projects I've worked on.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li JavaScript
          li jQuery
          li Node.js
          li Express
          li Pug
          li Regex
          li HTML5
          li CSS3
        h6 Contact Info

        //- Add your own contact info
        ul
          li 647-884-0560
          li kmadden84@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/kevin-madden-12865035/') LinkedIn
        a.button.expanded(href='https://github.com/kmadden84') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  